@mixin flexBox($justify, $align, $gap, $direction){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

@mixin button($padding, $bg-color, $txt-color, $fs, $fw, $border, $radius){
  padding: $padding;
  background-color: $bg-color;
  color: $txt-color;
  font-size: $fs;
  font-weight: $fw;
  border: $border;
  border-radius: $radius;
  transition: all .3s ease-in-out;
  cursor: pointer;
}