// ============= BG COLORS =============
$bg-dark-blue: #0035A0;
$bg-dark-blue2: #0C2F75;
$bg-white1: #E8E8E8;
$bg-black: #4A4A4A;
$bg-white: #fff;
$bg-white2: #E4E4E4;
$bg-skyblue: #E2F1F6;
$bg-greeny: #E2F6EB;
$bg-yellowy: #F6EEE2;

// ============= TEXT COLORS =============
$txt-dark-blue: #0035A0;
$txt-dark-blue2: #0C2F75;
$txt-white-gray: #E8E8E8;
$txt-black: #4A4A4A;
$txt-white: #fff;
$txt-white2: #E4E4E4;
$txt-skyblue: #E2F1F6;
$txt-greeny: #E2F6EB;
$txt-yellowy: #F6EEE2;

// ============= FONT FAMILY =============
$inter: 'Inter', sans-serif;

// ============= FONT SIZE =============
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;

// ============= FONT WEIGHT =============
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;
