// ============= BG COLORS =============
$bg-dark-blue: #0C2F75;
$bg-white-gray: #E8E8E8;
$bg-black: #4A4A4A;
$bg-white: #fff;

// ============= TEXT COLORS =============
$txt-dark-blue: #0C2F75;
$txt-white-gray: #E8E8E8;
$txt-black: #4A4A4A;
$txt-white: #fff;